<section class="footer">
	<footer class="page-footer blue darken-4">
	    <div class="container">
	        <div class="row">
	            <div class="col l3 s12">
	                <img src="assets/img/footer-kiri.png" alt="">
	                <p class="grey-text text-lighten-4">Your Line@ Payment Solution</p>
	            </div>
	            <div class="col l3 s12">
	            	<h5 class="white-text">Brembi Store</h5>
	                <ul>
	                    <li><a class="grey-text text-lighten-3" href="aboutBrembiStore.html">Tentang Kami</a>
	                    </li>
	                    <li><a class="grey-text text-lighten-3" href="blog.html">Tips &amp; Trik</a>
	                    </li>
	                    <li><a class="grey-text text-lighten-3" href="premiumidlineat.html">Panduan Pembelian</a>
	                    </li>
	                    <li><a class="grey-text text-lighten-3" href="http://line.me/S/shop/sticker/author/68305">Brembi &amp; Friends</a>
	                    </li>
	                    <li><a class="grey-text text-lighten-3" href="http://bit.ly/collarbear">CollarBear</a>
	                    </li>
	                </ul>
	            </div>
	            <div class="col l3 s12">
	                <h5 class="white-text">Chat Via Line</h5>
	                <a href="http://line.me/ti/p/@brembistore">
	                	<img src="assets/img/chat.png" alt="">
	               	</a>
	            </div>
	            <div class="col l3 s12">
	                <h5 class="white-text">Find Us On</h5>
	                <div class="block small-pembayaran">
	                	<div class="img-right sosmed">
	                		<a href="https://www.instagram.com/brembistore/">
	                			<img src="assets/img/ig.png" alt="Instagram" class="responsive-img">
	                		</a>
	                	</div>
						<div class="img-right sosmed">
							<a href="http://bit.ly/jasalineat">
								<img src="assets/img/kaskus.png" alt="Kaskus" class="responsive-img">
							</a>
						</div>
						<div class="img-right sosmed">
							<a href="http://line.me/ti/p/@brembistore">
								<img src="assets/img/line.png" alt="Line" class="responsive-img">
							</a>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="footer-copyright">
	        <div class="container center">
	            &copy; 2018 Copyright Brembi Store
	        </div>
	    </div>
	</footer>
</section>